# Created by .ignore support plugin (hsz.mobi)
*.exe
*.app
/backup
/dbase*
buh50viga.log
.idea/
INSTALL/
classes/New Folder/
dok/reklaam/
eelarve/New folder/
eelarve61.app
queries/ladu/tmp/
queries/vana/
script/New Folder/
/dok
